body {
    background-color: darkgray;		/* Sets the background of the website. */
}

/* Formats the divider lines on the webpage. */
hr {
	background-color: rgb(46, 46, 46);	  /* Sets the color of the dividers on the website. */
	width: 50%;						  		/* Makes the divider half of the length of the div. */
	border-top: 1px thin #07234f;		  /* Adjusts the border's size and make them all formatted. */
}

/* Formats the container that contains all of the elements on the screen. */
.container {
    color: black;                                 /* Makes the text black. */
	font-family: 'PT Sans Narrow', sans-serif;      /* Sets the font of the text. */
	font-size: 4vh;									/* Sets the font size. */
	margin-left: auto;                              /* Prevents skew to the left. */
	margin-right: auto;                             /* Prevents skew to the right. */
	max-width: 1200px;                              /* Sets a max width so that it doesn't stretch over large displays. */
	display: flex;                                  /* Fixes the display format for mobile viewers with narrow displays. */
	flex-direction: column;                         /* Fixes the display format for mobile viewers with narrow displays. */
	padding: 30px;                                  /* Pads all directions for better formatting. */
	padding-top: 5px;                               /* Adds additional padding towards the top to prevent the navigation button from overflow. */
    background-color: white;					  /* Sets the background of the container to white. */
}

/* Formats the container for each of the website referrals. */
.qesWinds,
.utahLSM,
.preevents,
.lemsv2 {
  	text-align: center;			/* Prevents the text from skewing to the left when overflow occurs. */
	padding: 20px;				/* Sets padding on the containers for nicer formatting between them. */
}

/* Formats the images for each of the website referrals. */
.qesWinds #image,
.utahLSM #image,
.preevents #image,
.lemsv2 #image {
	float: left;			/* Floats the image to the left of the webpage. */
	padding: 15px;			/* Pads the image in the container. */
	padding-top: 30px;		/* Creates additional padding for the top of the image. */
}

/* Formats the text for each of the website referrals. */
.qesWinds #text,
.utahLSM #text,
.preevents #text,
.lemsv2 #text {
	text-align: center;			/* Aligns everything in the center when overflow occurs. */
	vertical-align: top;		/* Sets the text to the top of the div/container. */
	padding: 20px;				/* Creates small padding for the text. */
}

.footer {
	text-align: center;
	font-size: 22px;
}

/* Author: Eric Nieters - niete018@d.umn.edu */