  body {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-y: hidden;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://github.com/UtahEFD/UtahEFD.github.io/blob/main/PREEVENTS/Images/University-of-Utah-Campus.jpg?raw=true');
  }

  .container {
    align-items: center;
    color: #FFF;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    margin: 0; 
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
    text-shadow: 2px 2px 8px #000;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    
  }

  .sidenavButton {
    font-size: 45px; 
    cursor: pointer; 
    color: white;
    text-shadow: 2px 2px 8px #000;
    position: absolute; /* Keeps the button from shifting the text in the center. */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* Author: Eric Nieters - niete018@d.umn.edu */

/* Menu resource from: https://www.w3schools.com/howto/howto_js_sidenav.asp */