/* Sets the background properties for the body of the website. */
body {
	background-color: #303030;
}

/* Sets the font size for all the "p" elements used in the html file. */
p {
	font-size: 1.5rem;
}

/* Sets the font size for the title heading used in the html file. */
.container .text #titleHeading {
	font-size: 3rem;
}

/* Formats the container that contains all of the elements on the screen. */
.container {
	color: #FFF;                            /* Makes the text white. */
	font-family: 'Playfair Display', serif;   /* Sets the font of the text. */
	margin-left: auto;                        /* Prevents skew to the left. */
	margin-right: auto;                       /* Prevents skew to the right. */
	max-width: 1200px;                        /* Sets a max width so that it doesn't stretch over large displays. */
	text-align: center;                       /* Aligns all the text within the container. */
	text-shadow: 2px 2px 8px #000;          /* Adds a shadow on the text for better contrast. */
	display: flex;                            /* Fixes the display format for mobile viewers with narrow displays. */
	flex-direction: column;                   /* Fixes the display format for mobile viewers with narrow displays. */
	align-items: center;                      /* Aligns the items in the center for smaller displays. */
	padding: 30px;                            /* Pads all directions for better formatting. */
	padding-top: 5px;                         /* Adds additional padding towards the top to prevent the navigation button from overflow. */
	opacity: 0;                               /* Sets the initial opacity to 0 to enable fading-in upon loading. */
}

/* Formats the header image at the top of the page. */
.headerImage img {
	object-fit: cover;			/* Keeps the aspect ratio of the image when stretched. */
	width: 100%;				/* Makes the image take up the entire width of the display. */
	height: 250px;				/* Sets the max height for the header photo. */
}

/* Formats the buttons for the menu. */
.fa-chevron-circle-down {
	font-size: 55px;                    /* Sizes the navigation button. */
	cursor: pointer;                    /* Indicates to the user that the navigation button is clickable. */
	color: white;                     /* Makes the navigation button/text white. */
	text-shadow: 2px 2px 10px #000;   /* Adds shadow to the navigation button for better contrast. */
	position: absolute;                 /* Keeps the navigation button from shifting the text in the center. */
	padding: 15px;						/* Pads the left of the navigation button to make it look cleaner. */
}

/* Shifts the home button to the right. */
.homeButton .fa-home {
	margin-left: 70px;
}

/* Formats the menu and home button. */
.homeButton .fa-home,
.menuButton .fa-chevron-circle-down {
	font-size: 55px;                    	/* Sizes the home button. */
	cursor: pointer;                    	/* Indicates to the user that the home button is clickable. */
	color: rgb(228, 228, 228);            /* Makes the home button/text white. */
	text-shadow: 2px 2px 10px #000;       /* Adds shadow to the home button for better contrast. */
	position: absolute;                 	/* Keeps the home button from shifting the text in the center. */
	padding: 15px;							/* Pads the left of the home button to make it look cleaner. */
	transition: 0.3s;						/* Give the animation 0.3s when it's hovered over. */
}

/* Gives the menu and home buttons animation. */
.homeButton .fa-home:hover,
.menuButton .fa-chevron-circle-down:hover {
	color: white;						  /* Makes the icon brighter when the mouse is hovered over it. */
	text-shadow: 2px 2px 20px #000;		  /* Makes the shadow a little larger. */
}

/* Formats the navigation button and drawer. */
.menu {
	height: 100%;                 				/* Makes the navigation menu take up the whole page when clicked. */
	width: 0;                     				/* Hides the navigation bar for when it's not clicked. */
	position: fixed;              				/* Positions the navigation bar so it's not off-screen. */
	z-index: 1;                   				/* Hides the menu button when the navigation drawer is inflated. */
	top: 0;                       				/* Removes all padding on the top when clicked. */
	left: 0;                      				/* Removes all padding on the left when clicked. */
	background-color: rgba(0, 0, 0, 0.9);     /* Colors the background of the menu to black. */
	overflow-x: hidden;           				/* Prevent scrolling in the x-direction when clicked. */
	transition: 0.5s;             				/* Turns the transition for the animation into half a second. */
	padding-top: 60px;            				/* Pads the buttons on the top of the navigation bar. */
	text-align: center;           				/* Aligns all of the buttons towards the center of the screen. */
}

/* Formats the "close button" when the menu is open. */
.menu .closebtn {
	padding-top: 30px;				/* Pads the top of the close button to make it look cleaner. */
	position: absolute;         	/* Positions the close button for the navigation menu. */
	top: 0;                     	/* Makes the close button positioned directly at the top. */
	right: 25px;                	/* Makes the close button positioned 25px from the right. */
	font-size: 36px;            	/* Changes the size of the close button. */  
	cursor: pointer;				/* Indicates that the close button is clickable. */
	color: rgb(228, 228, 228); 	  /* Makes the button white for better constrast. */
	transition: 0.3s;				/* Give the animation 0.3s when it's hovered over. */
}

/* Gives the menu animation. */
.menu .closebtn:hover {
	color: white;				  /* Makes the icon brighter when the mouse is hovered over it. */
}

/* Formats the buttons in the menu. */
.abstractButton,
.collaboratorsButton,
.publicationsButton,
.talksButton,
.visualizationButton {
	background-color: rgba(107, 107, 107, 0.5);	  		/* Creates the faded background for the button. */
	border-radius: 15px;								  /* Creates rounded buttons. */
	color: rgb(255, 255, 255);							/* Changes the color of the text. */
	height: 80px;								          /* Hardcodes the height of the button. */
	width: 250px;								          /* Hardcodes the width of the button. */
	font-size: 30px;							          /* Sets the font of the text. */
	font-family: 'Playfair Display', serif;   			  /* Sets the font of the text. */
	margin: 10px;								          /* Pads the buttons. */
	transition: 0.3s;							          /* Adds a small animation when the button is hovered over. */
	cursor: pointer;							          /* Makes the cursor show that the button is clickable. */
	border: none;										  /* Removes the border along the button. */
}

/* Changes the color of the button when the cursor is hovering over it. */
.abstractButton:hover,
.collaboratorsButton:hover,
.publicationsButton:hover, 
.talksButton:hover, 
.visualizationButton:hover {
	color: #383838;           	/* Turns the text black when the cursor hovers over it. */
	background-color: white;	/* Changes the background color of the button when hovered. */
}

/* Formats the text in the center of the webpage. */
.text {
	background: rgba(0, 0, 0, 0.4);         /* Creates a faded background behind the text for readability. */
	padding: 30px;                            /* Pads the text within the container. */
	overflow-wrap: break-word;                /* Prevents overflow. */
	width: 100%;                              /* Fixes the padding of the background for mobile users. */
}

/* Formats the image so that it fits on mobile devices. */
.container .text #homeImage {
	margin: auto;           /* Scales the image in the center of the container for narrow displays. */
	overflow: hidden;       /* Prevents scrolling if the image is too large. */
}

/* Formats the YouTube videos. */
.container .text .iframeContainer {
	position: relative;			/* Keeps the video in the container. */
	max-width: 80%;				/* Makes the frame of the YouTube video smaller. */
	padding-bottom: 56.25%; 	/* Makes the video appear as an even square. */
	margin-left: auto;			/* Centers the video. */
	margin-right: auto;			/* Centers the video. */
}

/* Formats the frame of the video. */
.iframeContainer iframe {
	position: absolute;			/* Makes the video appear as an even square. */
	top: 0;						/* Positions the video nicely in the container. */
	left: 0;					/* Positions the video nicely in the container. */
	width: 100%;				/* Prevents the video frame from going out of the container on mobile. */
	height: 100%;				/* Prevents the video frame from going out of the container on mobile. */
}


/* Author: Eric Nieters - niete018@d.umn.edu */